:root {
    --yellow: #FFAA2A;
    --darkyellow: #E18637;
    --lightyellow: #E9E156;
    --white: #f6f3f3;
}

@font-face {
    font-family: "Retro";
    src: url(fonts/JoyquestSample.ttf);
}
@font-face {
    font-family: "RetroTalk";
    src: url(fonts/Jersey10-Regular.ttf);
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

.yellow_btn_style {
    background: var(--yellow);
    border-right: var(--lightyellow) 6px solid;
    border-top: var(--lightyellow) 6px solid;
    border-left: var(--darkyellow) 6px solid;
    border-bottom: var(--darkyellow) 6px solid;
    font-size: 32px;
    padding: 4px 32px;
    cursor: pointer;
    color: var(--white);
    font-family: "Retro";
    text-align: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000000;
    display: flex;
    justify-content: end;
    padding: 16px ;
}

.hamburger_menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 1000001;
    gap: 8px;
    width: 32px;
    cursor: pointer;

    span {
        height: 4px;
        background: var(--yellow);
        outline: 2px var(--white) solid;
        position: relative;
        overflow: hidden;

        &::before {
            content: '';
            position: absolute;
            top: -50%;
            left: 50%;
            background: var(--lightyellow);
            width: 100%;
            height: 100%;
        }
    }
}

nav {
    position: fixed;
    inset: 0;
    transform: translateX(100%);
    background: var(--yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .4s ease-in-out;

    ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 64px;

        li {
            font-size: 32px;
            font-family: "Retro";

            a {
                color: var(--white);
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    height: 2px;
                    background: var(--darkyellow);
                    width: 110%;
                    left: 50%;
                    transform: translateX(-50%) scaleX(0);
                    top: calc(100% + 4px);
                    transition: transform .4s ease-in-out;
                }
                &:hover::before {
                    transform: translateX(-50%) scaleX(1);
                }
            }
        }
    }
}

.nav_show {
    transform: translateX(0);
}